// color
$gray:#363636;
$gray_opacity:rgb(58, 57, 57,0.8);
$snow_opacity:#fffbff96;
$yellow:rgba(255,211,112,0.8); //0.8 為透明度
$green:#5b8c5a;
$brown: #bba983;

// font-family
$font-family-logo:monospace;